/* Body */

body {
  background-color: var(--bg-color);
}

.content {
  padding-top: 5rem;
}

.content li {
  padding-left: 1rem;
}

code {
  max-height: 70vh;
  background-color: var(--bg-secondary-color) !important;
}

/* Header */

.navbar,
.navbar-spacer {
  display: block;
  width: 100%;
  height: 6.5rem;
  background-color: var(--bg-navbar-color);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  z-index: 99;
}
.navbar-spacer {
  display: none !important;
}
.navbar > .container {
  width: 100%;
}
.navbar-list {
  list-style: none;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0;
}
.navbar-item > button {
  margin-bottom: 0;
}
.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 6.5rem;
  color: var(--text-color);
}
.navbar-link.active {
  color: var(--primary-button);
}
.has-docked-nav .navbar {
  position: fixed;
  top: 0;
  left: 0;
}
.has-docked-nav .navbar-spacer {
  display: block;
}
.has-docked-nav .navbar > .container {
  width: 80%;
}

/* Titles */

.title {
  margin-top: 1em;
}

.tagline {
  font-weight: normal;
  color: var(--text-secondary-color);
}

/* Tags */

.tags {
  margin-top: -1.5rem;
}
.tags li {
  display: inline;
  margin-right: 0.5em;
}

/* Footnotes */

.footnote-definition sup {
  margin-left: -1.5em;
  float: left;
}

.footnote-body {
  margin: 1em 0;
  padding: 0.5em 1em;
  background-color: var(--bg-secondary-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
}
.footnote-definition .footnote-body p:only-child {
  margin: 0.2em 0;
}

.dummy-a {
  color: var(--primary-color);
}

/* Comments */

.comment {
  margin: 1em 0;
  padding: 0.5em 1em;
  background-color: var(--bg-secondary-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.comment-info {
  margin-top: 1.5rem;
}

.comment-divider {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Post List */

.posts {
  margin: 0;
  list-style: none;
}
.posts .post a {
  display: flex;
  padding: 0.5em 0;
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.75rem;
}
.posts .post a:hover,
.posts .post a:focus,
.posts .post a:active {
  text-decoration: none;
  color: var(--primary-color);
}
.post-time {
  font-family: monospace, monospace;
  font-size: 1.25rem;
  vertical-align: middle;
  padding-right: 2rem;
  color: var(--text-secondary-color);
}

/* Theme Switching */
/* show correct dark mode icon */
#button-dark-mode {
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
}

html.dark #button-dark-mode #light-mode-icon {
  display: none;
}
html:not(.dark) #button-dark-mode #dark-mode-icon {
  display: none;
}
